<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body bgcolor="">
    <center>
        <h1>Customer Registration</h1>
        <table border="0">
            <tr>
                <td>Customer Name:</td>
                <td> <input type="text" name="username" id="username"> </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td> <input type="password" name="password" id="password"> </td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td> <input name="gender" type="radio">Male <input name="gender" type="radio">Female </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td> <textarea name="teaxt_area" id="text_area" cols="30" rows="10"></textarea> </td>
            </tr>
            <tr>
                <td>Telephone No:</td>
                <td> <input type="text" id="telephone_no"> </td>
            </tr>
            <tr>
                <td>Hobbies</td>
                <td> <select name="hobbies" id="hobbies">
                    <option value=""></option>
                    <option value="R">Riding</option>
                    <option value="E">Eating</option>
                    <option value="S">Sleeping</option>
                    <option value="F">Football</option>
                    <option value="C">Coding</option>
                    <option value="G">Games</option>
                     </select> 
                </td>
            </tr>
            <tr>
                <td></td>
                <td> <input type="submit"> </td>
            </tr>
        </table>
    </center>
   
</body>
</html>